@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(-45deg, #05080c, #1c2845, #345e8b, #0b111a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}